body {
  overflow-x: hidden;
}

.row {
  margin:0px;
}

.container {
  margin: auto;
}

.row>* {
  margin:0px;
}

.jumbotron {
  padding-top: 10rem;

  background-color: #ffd700;
}

#project {
  background-color: #ffd700;
}

section {
  padding-top: 9rem;
}
